.mentor_slider {
  width: 240px;
  height: 320px;

  [class~="swiper-slide"] {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    background-color: #fff;
  }
}
