.error_courses {
  border: none;
  background-color: #eee;
  padding: 10px 10px;
  border-radius: 12px;
  width: max-content;
}
.error_courses[class~="nav-tabs"] {
  flex-wrap: nowrap;
  overflow-x: scroll;
  width: auto;
}
.error_courses[class~="nav-tabs"] [class~="nav-link"] {
  font-size: 13px;
}
.error_courses[class~="nav-tabs"] [class~="nav-link"]:hover {
  border: 1px solid transparent;
}
.error_courses[class~="nav-tabs"] [class~="nav-link"][class~="active"] {
  background-color: #0056d2;
  color: #fff;
  border-radius: 6px;
}
.error_courses [class~="nav-item"] {
  min-width: fit-content;
}

/* @media screen and (max-width: 1200px) {
  .error_courses[class~="nav-tabs"] {
    width: auto;
  }
} */

@media screen and (max-width: 350px) {
  .course_name {
    font-size: 12px;
  }
}
