.BlogCard [class~="clamp"] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.BlogCard [class~="heading"] {
  -webkit-line-clamp: 2;
}
.BlogCard [class~="category"] {
  -webkit-line-clamp: 1;
}
.BlogCard [class~="para"] {
  -webkit-line-clamp: 3;
}
