.cashback_wrap {
   [class~="p-inputtext"] {
    svg {
      display: none;
    }
  }
  [class~="form-check-input"] {
    border: 2px solid #0056d2;
  }
  [class~="cashback_active"] {
    background-color: #d8feea7d;
  }
   [class~="p-dropdown-item"] {
       &[class~="p-disabled"] {
      opacity: 1;
      cursor: none;
    }
    }
  // [class~="cashback-dropdown-panel"] {
  //   &::after {
  //     content: "Description : College Vidya Provides this benefit to online learners to enhance the gross enrollment ratio in India.";
  //     display: block;
  //     padding: 10px 1px;
  //     text-align: center;
  //     font-size: 12px;
  //     color: #1abc9c;
  //     font-weight: bold;
  //     background-color: #d4fee8;
  //   }
  // }
}
.cashback_stamp {
  mix-blend-mode: darken;
}
