.thumbnail {
  position: relative;
  width: 520px;
  height: 280px;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
