@font-face {
  font-family: "poppins";
  src: url("../public/fonts/poppins.woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "poppins-bold";
  src: url("../public/fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

$myFont: "poppins";
$myFontBold: "poppins-bold";

$theme-colors: (
  "primary": #0056d2,
);
@import "~bootstrap/scss/bootstrap";

html,
body {
  padding: 0;
  margin: 0;
  font-family: $myFont !important;
  user-select: none !important;
}
.fs-10 {
  font-size: 10px;
}
.fs-11 {
  font-size: 11px;
}
.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}
.cursor-pointer {
  cursor: pointer;
}

.fs-14 {
  font-size: 14px;
}

*[style*="font-family"] {
  font-family: $myFont !important;
}
#blog_wrapper p *[style*="font-size"],
.accordion p *[style*="font-size"] {
  font-size: 16px !important;
}
.secure-bgcolor {
  background-color: #d4fee8;
}
.modal-backdrop.show {
  opacity: 0.8;
}
.textwrap {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.textline_one {
  -webkit-line-clamp: 1;
}
.textline_two {
  -webkit-line-clamp: 2;
}
.textline_three {
  -webkit-line-clamp: 3;
}
.bgprimary {
  background-color: #0056d2;
}
.navbar #collasible-nav-dropdown {
  color: #fff;
}
.form-control:focus {
  box-shadow: none;
}
.navbar .dropdown-menu.show[aria-labelledby="collasible-nav-dropdown"] {
  left: -15px !important;
  top: 3px !important;
  box-shadow: 0 12px 20px 6px#68707614;
  min-width: 200px;
  max-width: 400px;
  width: 100%;
  z-index: 1111;
}
.navbar
  .dropdown-menu.show[aria-labelledby="collasible-nav-dropdown"]
  .dropdown-item {
  padding: 8px 15px;
}
.navbar .dropdown-submenu-container .dropdown-menu {
  margin-left: 4px;
  box-shadow: 0 12px 20px 6px#68707614;
}
.accordion-button:focus {
  box-shadow: 0 12px 20px 6px#68707614;
}

.banner-part img {
  width: 100%;
  height: auto;
}

.nav-accordion .accordion-item {
  border: none;
}
.nav-accordion .accordion-button {
  padding: 7px 0px 7px 0;
  font-size: 14px;
}
.nav-accordion .accordion-button:not(.collapsed) {
  background-color: #fff;
  box-shadow: none;
}
.nav-accordion .accordion-body {
  background-color: aliceblue;
  border-radius: 8px;
  padding: 10px 12px;
}
.nav-accordion .accordion-body a {
  font-size: 14px;
}
.nav-accordion .accordion-button:focus {
  box-shadow: none;
}
.menu_list a {
  font-size: 14px;
  padding: 7px 0px 7px 0;
}
.blogcard_title {
  font-size: 22px;
}
.shadow-1 {
  box-shadow: 0 2px 4px 2px rgb(0 0 0 / 7%);
}
.search_modal .modal-dialog {
  margin: 0;
}
.search_modal .modal-content {
  border: 0;
  border-radius: 0;
}
.search_input {
  color: #666;
  padding: 0.75em;
  height: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #f2f5f7;
  border-radius: 2px;
  background: #fafafa;
}
.search_input::placeholder {
  font-size: 13px;
}

.custom-table-wrap {
  overflow-x: auto;
  max-height: 1003px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

#blog_wrapper figure {
  width: 100% !important;
  max-width: 700 !important;
  margin: 10px auto 10px 0;
}

.embed-iframe img {
  width: 100%;
  height: auto;
  max-width: 650px !important;
}

#blog_wrapper img {
  width: 100% !important;
  max-width: 100%;
  border-radius: 4px;
}
#blog_wrapper iframe {
  width: 100%;
  height: 500px;
  margin-top: 20px;
}
#blog_wrapper {
  word-break: break-word;
}
#blog_wrapper table {
  word-break: initial;
}

#blog_wrapper h1,
#blog_wrapper h2,
#blog_wrapper h3,
#blog_wrapper h4,
#blog_wrapper h5,
#blog_wrapper h1,
#blog_wrapper h6,
#blog_wrapper span {
  word-break: break-word;
}

.cheklist p {
  word-break: break-word;
}

.cheklist p {
  font-size: 14px;
}
.blog-main-head {
  font-size: 1.75rem !important;
  font-family: "poppins-bold";
  word-break: break-word;
}
#blog_wrapper h2,
.bold-font {
  font-size: 18px !important;
  font-family: "poppins-bold";
}
#blog_wrapper h3 {
  font-size: 18px !important;
  font-family: "poppins-bold";
}
#blog_wrapper h4 {
  font-size: 16px !important;
  font-family: "poppins-bold";
}

#blog_wrapper table {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100% !important;
}
#blog_wrapper table,
#blog_wrapper td {
  border: 1px solid #ccc;
  padding: 10px 20px;
}
#blog_wrapper td p {
  margin: 0;
}
#blog_wrapper a {
  color: #0056d2 !important;
}

#blog_wrapper [class="test-link"] {
  color: #0056d2 !important;
  cursor: pointer;
}

#blog_wrapper [class~="post-excerpt"] img {
  width: 100% !important;
  max-width: 700px;
  object-fit: contain;
  height: auto !important;
}
.contact_form .form-control::placeholder,
.contact_form .form-select,
.form-control-lg {
  font-size: 14px !important;
  color: #777575;
  border-radius: 4px !important;
}

.contact_form input[type="date"] {
  color: #777575;
}

.form-select:focus {
  box-shadow: none;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background: #888;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.custom-table-wrap a {
  color: #0056d2 !important;
}

.expert_div:before {
  content: "";
  display: block;
  position: absolute;
  background: rgba(38, 40, 45, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.expert_div:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  width: 60px;
  height: 60px;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  background: 50% no-repeat;
  background-size: 100%;
  background-image: url(../public/Images/icons/bg-video.svg);
}
.expert_card:hover .expert_div:after {
  background-image: url(../public/Images/icons/bg-video-red.svg);
}
.p-error {
  font-size: 12px;
  color: red;
  padding-left: 10px;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}
#blog_wrapper pre {
  white-space: break-spaces !important;
}

#blog_wrapper {
  ul {
    list-style-type: none;
    li {
      position: relative;
      margin-bottom: 10px;
      &:before {
        position: absolute;
        content: "";
        left: -25px;
        top: 0px;
        background-image: url(../public/Images/icons/blog_check.png);
        background-repeat: no-repeat;
        background-size: 18px 20px;
        width: 18px;
        height: 20px;
      }
    }
  }
}
.embed-iframe {
  position: relative;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  cursor: pointer;
  > img {
    opacity: 0.9;
  }
}
.youtube_blog_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80px;
}
#button-addon1 {
  &:hover {
    background-color: #fff;
  }
}
.blog_listing {
  img {
    border-radius: 4px;
  }
}
.sticky-top {
  z-index: 11;
}

#collasible-nav-dropdown,
.header_title {
  font-size: 12px;
  text-wrap: nowrap;
}

.highlight_text {
  background-color: antiquewhite;
  padding: 8px 10px;
  border-radius: 5px;
  color: #f75d34;
  font-style: italic;
}

.influencer_swiper {
  [class~="swiper-wrapper"] {
    // display: flex;
    align-items: center;
    // justify-content: center;
  }
}
[class~="p-dropdown-items"] [class~="p-dropdown-item"] {
  text-wrap: wrap;
  font-size: 14px;
  padding: 0.3rem 1rem !important;
}
.author_bg_hero {
  background: linear-gradient(100.8deg, #447ae345, #f5f5f5 99.75%);
  height: 345px;
  z-index: -1;
}

.custom-table-wrap {
  table {
    p {
      margin-bottom: 0;
      padding: 5px 0;
    }
    tr {
      background-color: aliceblue;
      &:nth-child(1) {
        background-color: #003075;
        color: $white;
        * {
          color: $white;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  #responsive-navbar-nav {
    background-color: rgb(243, 240, 240);
    padding: 10px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  [class~="p-dropdown-items"] [class~="p-dropdown-item"] {
    overflow-x: scroll;
  }
  .blogcard_title {
    font-size: 18px;
  }
  .cheklist p {
    font-size: 12px;
  }
  #blog_wrapper iframe {
    height: 220px;
  }
}

.dropdown-toggle::after {
  display: none !important;
}

.flag_dropdown {
  [class~="dropdown-toggle"] {
    padding: 0 5px;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    &:active {
      background-color: #fff;
      color: #000;
      border: 1px solid #ccc;
    }
    &:focus {
      box-shadow: none;
      border: 1px solid #ccc;
    }
  }
  img {
    width: 15px;
  }
}

.form-tag {
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-dropdown-panel {
  z-index: 9999 !important;
}

.p-dropdown {
  border-radius: 4px !important;
}

.p-dropdown-label {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  font-size: 14px;
  color: #777575;
}

.bluebtn[class~="p-button"] {
  background-color: #0056d2;
  border: 1px solid #0056d2;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: #005aa7;
    border: 1px solid #005aa7;
  }
}

.hover-underline:hover {
  text-decoration: underline;
}

@media screen and (max-width: 340px) {
  .blog-main-head {
    font-size: 18px !important;
  }
}
